{{- $secret := (lookup "v1" "Secret" .Release.Namespace (include "krawl.fullname" .)) -}}
{{- $dashboardPath := "" -}}
{{- if and $secret $secret.data -}}
  {{- $dashboardPath = index $secret.data "dashboard-path" | b64dec -}}
{{- else -}}
  {{- $dashboardPath = printf "/%s" (randAlphaNum 32) -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "krawl.fullname" . }}
  labels:
    {{- include "krawl.labels" . | nindent 4 }}
type: Opaque
stringData:
  dashboard-path: {{ $dashboardPath | quote }}
