{% extends "base.html" %}

{% block content %}
<div class="container" x-data="dashboardApp()" x-init="init()">

    {# GitHub logo #}
    <a href="https://github.com/BlessedRebuS/Krawl" target="_blank" class="github-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/></svg>
        <span class="github-logo-text">Krawl</span>
    </a>

    {# Back to dashboard link #}
    <div style="position: absolute; top: 0; right: 0;">
        <a href="{{ dashboard_path }}/" class="download-btn" style="text-decoration: none;">
            &larr; Back to Dashboard
        </a>
    </div>

    {% set uid = "ip" %}
    {% include "dashboard/partials/_ip_detail.html" %}

    {# Raw Request Modal #}
    <div class="raw-request-modal" x-show="rawModal.show" @click.self="closeRawModal()" x-cloak>
        <div class="raw-request-modal-content">
            <div class="raw-request-modal-header">
                <h3>Raw Request</h3>
                <span class="raw-request-modal-close" @click="closeRawModal()">&times;</span>
            </div>
            <div class="raw-request-modal-body">
                <pre class="raw-request-content" x-html="rawModal.highlightedContent"></pre>
            </div>
            <div class="raw-request-modal-footer">
                <div class="raw-attachment-wrapper" x-show="rawModal.hasAttachments" @click.outside="rawModal.attachmentsShow = false">
                    <button class="raw-request-icon-btn" @click="fetchAttachments()" title="Download attachment">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M13.5 6.5l-7 7a3.5 3.5 0 0 1-4.95-4.95l7-7a2.5 2.5 0 0 1 3.54 3.54l-7 7a1.5 1.5 0 0 1-2.12-2.12l6.5-6.5"/></svg>
                        <span class="raw-request-icon-tooltip">Download attachment</span>
                    </button>
                    <div class="raw-attachment-dropdown" x-show="rawModal.attachmentsShow" x-cloak>
                        <template x-for="att in rawModal.attachments" :key="att.index">
                            <button class="raw-attachment-item" @click="downloadAttachment(att.index, att.filename)">
                                <span class="raw-attachment-name" x-text="att.filename || att.name || 'file'"></span>
                                <span class="raw-attachment-meta" x-text="att.content_type"></span>
                            </button>
                        </template>
                    </div>
                </div>
                <button class="raw-request-icon-btn" @click="copyRawRequest($event)" title="Copy to clipboard">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/></svg>
                    <span class="raw-request-icon-tooltip">Copy to clipboard</span>
                </button>
                <button class="raw-request-icon-btn" @click="downloadRawRequest()" title="Download as .txt">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z"/><path d="M7.25 7.689V2a.75.75 0 0 1 1.5 0v5.689l1.97-1.969a.749.749 0 1 1 1.06 1.06l-3.25 3.25a.749.749 0 0 1-1.06 0L4.22 6.78a.749.749 0 1 1 1.06-1.06Z"/></svg>
                    <span class="raw-request-icon-tooltip">Download as .txt</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
