-----BEGIN DSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-128-CBC,1F1793D5F28BABAE67F00DD395772C80

frdARSSt/3kvMTJL9XRdRUG9zAs9NoUqPxocukpvcps1UGv/RNhLzHtETBGpuQFi
Dfh5nTB8f2i9CxIVm1fvxIuVOPlrBB2UWQSWfu5QBMngsATjpMDvqDpwnsQyvk5Z
fO+i28rU/47i7VmJgFZMQmIPyb3hUvtcutrm0Gmh6lJt1B6YJA5qmlpmNElN2Iz8
PO1MYtXB+tYXvHmkbG1JQOrW0As4gI3ClybKRFNxeh5Nuzv7chgXOAjH7Buq4kiP
zMDwAl2sdjdghfOW+uUEDJGPGmthHaEIa2lYVDNrdZrDEhN8nvk5NpWNha/R7tZN
11u0VLMXGMM8j1umkcbCZ9N/tALkDaH6lxl8XZOq+1/S+KEZdR9JIZBjlBipejkn
fh+7WkRwtAzMuLaHAxbU/OqYbY62nYWGf3vv+DGux+D+LbTRNRrd77YuX+Vwscd6
ftj5Eoxlh7BO2NszgLO/g/HKewRmkSfqEy23e9KnlNkT+bP4CykYsN0kcg2yl9WL
Jf3+3H4QntckZ1eqmhjg9a52BbhuvzqeubWRCb60/0tEVZTRBPPC2COQvwQ0xlCn
GukuJysm3d1pONEJiR99d3Vup2cxC3M/MpAflU48P8cdgc8kwzmSKJOCIe/ynGqs
NxC7Qa8efHIluTaPjAHdPfbLGNE7sp0gD/+IsKUbGc7jNecuyd00ewXBGEEidfDT
eUyR5nX7iLVo1sLroVtTe2cgUQel3lajl1FEIzaHZ2AI8/D9BNX41zcKOt4s1Qne
QwJSM0xykShYDjdM/P9//dNmGoYR1k2USskQ91BRpblsZwxV0uoPO5BSYFOkGWi2
uY5JQ/byBuR7/MMYllZEPIq2sgvetijd7nx9Md61MBIZzIq9G6CdAAvLW+QEDU88
UlNq0IPnkoshhyb3c2qok6l7SepfivR+TrpyUCGnpAPVBjLXo6twDhSkjocqfOMs
x1m/s2KO/stT8gqjs2PjUVvuzBJ+3WPJiLB9mkg/9Za/ElPGLvNLqWg8pYtCkKJ/
A7BgTR1KUhIU0aCPntVIjUpuxMJsjJlfDsSUK6qdm2KcseuDIo0/35iNjIpBSrBz
5fFqOreTPbHu5S3GDxtNhZCUPF2/NWJiiUy0HsZWTazZLgb8dMqocNRmkqP2XTg/
0mv7i+LqxS+ywWyTJ3PkKTERu8Tjn71tM90OEYq5nWIxCORTLQQZauYemZS4Zodn
U8XWaLpQU0U9DsTpP4kuZ+R/Q1LOB7vDUpBz54nKOHe5f2kcH46VmV7IhkcMlKxE
qwkqXc94B0sl9WlXGBjzZHh3FGo0c/X1vcM5JYRqKAY5KiooY2N90pL2F+tp7i+H
pl58M5By5eCR73PDM/l+9BeoP1iDNk68+O8hARaR1NrIqSXiOTuq8yT9tRJc9R00
oZKcZnAtxv4DCWJwVmSiqwSes2R0r/xVMO1wbu200fAJU2lnm2dZr+omT/OvER+m
nqWHQlT0T2wOd1yfaJVwZgKLsrbWYBio5+F3El9A5zU+2zempy85UQYfVlFzWH8Z
hz8yHFophYac8Koc6aAWsnTIU/JL4IGBUoY5HevL5+T1iHbl/isednrfbJioj4Jp
-----END DSA PRIVATE KEY-----
