{
  "version": 4,
  "terraform_version": "1.9.5",
  "serial": 346,
  "lineage": "3f44a574-d862-33c7-33d4-9886e52a1f61",
  "outputs": {
    "db_endpoint": {
      "value": "pg-prod-01.db.orbit.internal:5432",
      "type": "string"
    },
    "bucket": {
      "value": "orbit-cloud-prod-assets",
      "type": "string"
    }
  },
  "resources": [
    {
      "mode": "managed",
      "type": "aws_db_instance",
      "name": "primary",
      "provider": "provider[\"registry.terraform.io/hashicorp/aws\"]",
      "instances": [
        {
          "attributes": {
            "identifier": "orbit-cloud-prod",
            "engine": "postgres",
            "engine_version": "16.3",
            "instance_class": "db.m6g.large",
            "username": "orbit",
            "password": "fake-db-password-1cb8deea"
          }
        }
      ]
    }
  ]
}
