<html><body>{
  "webpack": "https://example.com/_next/static/chunks/webpack-9f2a1b3c.js",
  "lowPriority": [],
  "pages": {
    "/_app": ["static/chunks/pages/_app-8d4e5f6g.js"],
    "/": [
      "static/chunks/pages/index-1a2b3c4d.js",
      "static/chunks/framework-5e6f7g8h.js",
      "static/chunks/main-9i0j1k2l.js",
      "static/chunks/webpack-9f2a1b3c.js"
    ],
    "/about": [
      "static/chunks/pages/about-3m4n5o6p.js",
      "static/chunks/framework-5e6f7g8h.js",
      "static/chunks/main-9i0j1k2l.js",
      "static/chunks/webpack-9f2a1b3c.js"
    ],
    "/contact": [
      "static/chunks/pages/contact-7q8r9s0t.js",
      "static/chunks/framework-5e6f7g8h.js",
      "static/chunks/main-9i0j1k2l.js",
      "static/chunks/webpack-9f2a1b3c.js"
    ]
  }
}</body></html>