<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP Version 7.4.33</title>
    <style>
        body {background-color: #fff; color: #000; font-family: sans-serif;}
        h1 {font-size: 150%; background-color: #ccccff; padding: 6px;}
        h2 {font-size: 125%; background-color: #eeeeff; padding: 4px;}
        .center {text-align: center;}
        .center table {margin: 1em auto; text-align:left;}
        .center th {background-color: #eeeeff; font-weight:bold; color:#000;}
        .center td {background-color: #f5f5ff;}
        .e {background-color: #ccccff; font-weight:bold; color:#000;}
        .h {background-color: #9999cc; font-weight:bold; color:#fff;}
        .v {background-color: #eeeeff;}
        .v a {color: #0000ee;}
    </style>
</head>
<body>
<div class="center">
<h1>phpinfo()</h1>
<table border="0" cellpadding="3" width="600">
<tr><td class="e">PHP Version</td><td class="v">7.4.33</td></tr>
<tr><td class="e">System</td><td class="v">Linux server01.example.com 5.4.0-150-generic #166-Ubuntu SMP Thu Aug 17 14:22:33 UTC 2023 x86_64</td></tr>
<tr><td class="e">Build Date</td><td class="v">Nov  2 2022 14:37:12</td></tr>
<tr><td class="e">Configure Command</td><td class="v">'./configure' '--with-apxs2' '--with-zlib' '--enable-mbstring' '--with-curl' '--with-openssl'</td></tr>
<tr><td class="e">Server API</td><td class="v">Apache 2.0 Handler</td></tr>
<tr><td class="e">Virtual Directory Support</td><td class="v">enabled</td></tr>
<tr><td class="e">Configuration File (php.ini) Path</td><td class="v">/etc/php/7.4/apache2</td></tr>
<tr><td class="e">Loaded Configuration File</td><td class="v">/etc/php/7.4/apache2/php.ini</td></tr>
<tr><td class="e">Scan this dir for additional .ini files</td><td class="v">/etc/php/7.4/apache2/conf.d</td></tr>
<tr><td class="e">Additional .ini files parsed</td><td class="v">/etc/php/7.4/apache2/conf.d/00-opcache.ini, /etc/php/7.4/apache2/conf.d/10-mysqlnd.ini, /etc/php/7.4/apache2/conf.d/20-json.ini</td></tr>
<tr><td class="e">PHP API</td><td class="v">20190902</td></tr>
<tr><td class="e">PHP Extension</td><td class="v">20190902</td></tr>
<tr><td class="e">Zend Extension</td><td class="v">320190902</td></tr>
<tr><td class="e">Zend Extension Build</td><td class="v">API320190902,NTS</td></tr>
<tr><td class="e">PHP Extension Build</td><td class="v">API20190902,NTS</td></tr>
<tr><td class="e">Debug Build</td><td class="v">no</td></tr>
<tr><td class="e">Thread Safety</td><td class="v">disabled</td></tr>
<tr><td class="e">Zend Signal Handling</td><td class="v">enabled</td></tr>
<tr><td class="e">Zend Memory Manager</td><td class="v">enabled</td></tr>
<tr><td class="e">Zend Multibyte Support</td><td class="v">provided by mbstring</td></tr>
<tr><td class="e">IPv6 Support</td><td class="v">enabled</td></tr>
<tr><td class="e">DTrace Support</td><td class="v">disabled</td></tr>
</table>

<h2>Registered PHP Streams</h2>
<table border="0" cellpadding="3" width="600">
<tr><td class="e">https</td><td class="v">ftps</td><td class="v">compress.zlib</td><td class="v">php</td><td class="v">file</td><td class="v">glob</td><td class="v">data</td><td class="v">http</td><td class="v">ftp</td></tr>
</table>

<h2>Configuration</h2>
<h3>Core</h3>
<table border="0" cellpadding="3" width="600">
<tr><td class="e">allow_url_fopen</td><td class="v">On</td></tr>
<tr><td class="e">allow_url_include</td><td class="v">Off</td></tr>
<tr><td class="e">auto_prepend_file</td><td class="v">no value</td></tr>
<tr><td class="e">auto_append_file</td><td class="v">no value</td></tr>
<tr><td class="e">default_mimetype</td><td class="v">text/html</td></tr>
<tr><td class="e">default_charset</td><td class="v">UTF-8</td></tr>
</table>

<h3>date</h3>
<table border="0" cellpadding="3" width="600">
<tr><td class="e">date.timezone</td><td class="v">UTC</td></tr>
</table>

<h2>Additional Modules</h2>
<table border="0" cellpadding="3" width="600"><tr><td class="e">Module Name</td><td class="v">cURL</td></tr>
<tr><td class="e">Module Name</td><td class="v">mbstring</td></tr>
<tr><td class="e">Module Name</td><td class="v">openssl</td></tr>
<tr><td class="e">Module Name</td><td class="v">json</td></tr>
<tr><td class="e">Module Name</td><td class="v">pdo_mysql</td></tr>
</table>

<h2>Environment</h2>
<table border="0" cellpadding="3" width="600">
<tr><td class="e">$_SERVER['HTTP_HOST']</td><td class="v">example.com</td></tr>
<tr><td class="e">$_SERVER['REMOTE_ADDR']</td><td class="v">203.0.113.42</td></tr>
<tr><td class="e">$_SERVER['REQUEST_METHOD']</td><td class="v">GET</td></tr>
</table>

</div>
</body>
</html>