{
  "activeProfiles": [
    "prod"
  ],
  "propertySources": [
    {
      "name": "systemEnvironment",
      "properties": {
        "DB_PASSWORD": {
          "value": "fake-db-password-f2056674"
        },
        "JWT_SECRET": {
          "value": "fake-jwt-secret-4e3a3240a5b3dc2e192f497707283ec7"
        },
        "AWS_ACCESS_KEY_ID": {
          "value": "AKIA-FAKE-B2765"
        },
        "SPRING_DATASOURCE_URL": {
          "value": "jdbc:postgresql://pg-prod-01.db.volta.internal:5432/volta_grid"
        }
      }
    }
  ]
}
