{
  "activeProfiles": [
    "prod"
  ],
  "propertySources": [
    {
      "name": "systemEnvironment",
      "properties": {
        "DB_PASSWORD": {
          "value": "fake-db-password-9b99c45a"
        },
        "JWT_SECRET": {
          "value": "fake-jwt-secret-ac2b6703b00b52a105b2fbb4ee672d21"
        },
        "AWS_ACCESS_KEY_ID": {
          "value": "AKIA-FAKE-0AED2"
        },
        "SPRING_DATASOURCE_URL": {
          "value": "jdbc:postgresql://pg-prod-01.db.volta.internal:5432/volta_grid"
        }
      }
    }
  ]
}
