<?xml version="1.0" encoding="UTF-8"?>
<configuration version="0.38.2" generated="2026-08-14T09:12:07Z">
  <application name="Orbit Cloud" environment="production"/>
  <datasource>
    <host>pg-prod-01.db.orbit.internal</host>
    <port>5432</port>
    <database>orbit_cloud</database>
    <username>orbit</username>
    <password>fake-db-password-f03f5cba</password>
  </datasource>
  <mail host="smtp.mail.orbit.internal" port="587" user="no-reply@orbitlabs.dev"
        password="fake-smtp-password-93046555"/>
</configuration>
