-- Halcyon Commerce database dump
-- host: pg-prod-01.db.halcyon.internal    database: halcyon_commerce
-- server version 16.3    dumped on 2026-08-14 09:12:07

SET statement_timeout = 0;
SET client_encoding = 'UTF8';

DROP TABLE IF EXISTS mp_users;
CREATE TABLE mp_users (
    id            integer NOT NULL,
    username      varchar(64) NOT NULL,
    email         varchar(190) NOT NULL,
    password_hash varchar(255) NOT NULL,
    role          varchar(32) NOT NULL DEFAULT 'support',
    created_at    timestamp NOT NULL
);

INSERT INTO mp_users (id, username, email, password_hash, role, created_at) VALUES
(5, 'c.mbeki', 'c.mbeki@halcyonretail.co.uk', '$2y$12$1nvZ1iyqc2p6pAudqY3nQ+Aq8Cs4MVcdJYJQlaQ86eSRCndqB9/mI', 'store_manager', '2020-04-13 08:31:44'),
(8, 'r.duffy', 'r.duffy@halcyonretail.co.uk', '$2y$12$QS6lik58xN+2WNVJKugNIwcVG4Df9ZfZFJzxfiX3bg1xhvcuckHOD', 'administrator', '2018-12-01 08:31:44'),
(16, 'a.pashkov', 'a.pashkov@halcyonretail.co.uk', '$2y$12$zu/D1gFIS02U7Z5h01I2b0g8y137vuxbZZygj+mBXsjq1Vq+oUKAh', 'merchandiser', '2022-02-24 08:31:44'),
(19, 'j.okonkwo', 'j.okonkwo@halcyonretail.co.uk', '$2y$12$7WRwYovRAVHpN+aJDpSjbMEfdMvMKyRIQwZH+hKINuzWmp/DSPQZx', 'fulfilment', '2023-07-08 08:31:44'),
(27, 'h.lindqvist', 'h.lindqvist@halcyonretail.co.uk', '$2y$12$L55JPrJgCaatb+oAOfw6Id9Q19+y/oBy/3xwV2nqV/ioorLZdOCHT', 'customer_care', '2024-11-05 08:31:44');

ALTER TABLE ONLY mp_users ADD CONSTRAINT mp_users_pkey PRIMARY KEY (id);
CREATE UNIQUE INDEX mp_users_email_idx ON mp_users USING btree (email);

-- dump completed
