[2026-08-12 20:51:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.volta.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"5eda70168b68c4db"}
[2026-08-13 14:29:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.volta.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"6887e5a44126acae"}
[2026-08-13 05:45:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=62 user_id=2 {"request_id":"4645a3b6c82862d3"}
[2026-08-11 18:22:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.volta.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"54c107bb17bf3aa9"}
[2026-08-12 05:10:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=217 user_id=2 {"request_id":"cb6dab70e1315cd0"}
[2026-08-12 02:24:07] production.WARNING: queue worker exceeded soft memory limit (128M), restarting {"request_id":"3640aeac9c9cd2e8"}
[2026-08-13 15:37:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=322 user_id=25 {"request_id":"4870d20f061bea08"}
[2026-08-13 01:41:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=97 user_id=11 {"request_id":"8f71df465cff9dde"}
[2026-08-12 10:41:07] production.ERROR: SMTP connect() failed on smtp.mail.volta.internal:587 {"request_id":"16e817c72df2d234"}
[2026-08-11 23:01:07] production.WARNING: queue worker exceeded soft memory limit (128M), restarting {"request_id":"a16e0bc022d55622"}
[2026-08-11 19:00:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.volta.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"4f8fba3e4627bf9f"}
[2026-08-14 06:20:07] production.INFO: scheduled task inventory:sync finished, 2138 rows {"request_id":"118b907122a2e4fd"}
[2026-08-11 15:55:07] production.WARNING: queue worker exceeded soft memory limit (128M), restarting {"request_id":"39bede50b07b8b9e"}
[2026-08-14 06:56:07] production.ERROR: SMTP connect() failed on smtp.mail.volta.internal:587 {"request_id":"654ef3b41b682589"}
[2026-08-11 21:29:07] production.INFO: scheduled task inventory:sync finished, 7669 rows {"request_id":"e65b9f72df345f90"}
[2026-08-12 04:12:07] production.ERROR: SMTP connect() failed on smtp.mail.volta.internal:587 {"request_id":"06ee93de838bed7d"}
