<html><body>{
  "type": "service_account",
  "project_id": "my-project-12345",
  "private_key_id": "abcd1234efgh5678ijkl9012mnop3456qrst7890",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7VJtUt9GFzcs5WHp2\nuUqN6Jc3K8xYV2Z9b6L0kYK5h6Vx3Z8G1u9YbT4ZzJ2v8KpLr5N2tWzV3gK+8v\n9Jc2R4L6Z8X9Y0t+K3VbN2pL8Q9uVv7W6Xz1JkL5T8R3s9U2vJkL6Y5Z9X2uV\n7v3Kp9R2sT1U8V3wY4Z5X6Y7Z8X9Y0Z1A2B3C4D5E6F7G8H9I0J1K2L3M4N5\n-----END PRIVATE KEY-----\n",
  "client_email": "my-service-account@my-project-12345.iam.gserviceaccount.com",
  "client_id": "123456789012345678901",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/my-service-account%40my-project-12345.iam.gserviceaccount.com"
}</body></html>