<?xml version="1.0" encoding="UTF-8"?>
<configuration version="6.0.3" generated="2026-08-14T09:12:07Z">
  <application name="Halcyon Commerce" environment="production"/>
  <datasource>
    <host>pg-prod-01.db.halcyon.internal</host>
    <port>5432</port>
    <database>halcyon_commerce</database>
    <username>hc_web</username>
    <password>fake-db-password-70233d4e</password>
  </datasource>
  <mail host="smtp.mail.halcyon.internal" port="587" user="no-reply@halcyonretail.co.uk"
        password="fake-smtp-password-9b736a08"/>
</configuration>
