<html><body># Azure Environment Variables
AZURE_STORAGE_ACCOUNT=mysa12345
AZURE_STORAGE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
AZURE_TENANT_ID=11111111-2222-3333-4444-555555555555
AZURE_CLIENT_ID=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
AZURE_CLIENT_SECRET=superSecretClientSecret123!
AZURE_SUBSCRIPTION_ID=6b0c5e1d-1234-5678-9abc-def012345678
AZURE_RESOURCE_GROUP=myResourceGroup
AZURE_LOCATION=westus2
AZURE_KEYVAULT_NAME=myKeyVault
AZURE_KEYVAULT_URI=https://mykeyvault.vault.azure.net/
AZURE_FUNCTIONS_EXTENSION_VERSION=~4
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING=DefaultEndpointsProtocol=https;AccountName=funcazure;AccountKey=fakekey==;EndpointSuffix=core.windows.net
WEBSITE_CONTENTSHARE=funcshare
APPSETTING_WEBSITE_RUN_FROM_PACKAGE=1
APPINSIGHTS_INSTRUMENTATIONKEY=12345678-1234-1234-1234-1234567890abcdef
SQLSERVER_CONNECTIONSTRING=Server=tcp:mysqldb.database.windows.net,1433;Initial Catalog=mydb;Persist Security Info=False;User ID=dbuser;Password=dbPassword!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</body></html>