<!DOCTYPE html>
<html><head><title>Index of /backup.bak</title></head>
<body>
<h1>Index of /backup.bak</h1><hr><pre><a href="../">../</a>
<a href="config/">config/</a>                                 14-Aug-2026 03:12        -
<a href="exports/">exports/</a>                                13-Aug-2026 22:40        -
<a href="db-2026-08-14.sql.gz">db-2026-08-14.sql.gz</a>                    14-Aug-2026 03:14        184M
<a href="db-2026-08-13.sql.gz">db-2026-08-13.sql.gz</a>                    13-Aug-2026 03:14        182M
<a href="portal-uploads.tar.gz">portal-uploads.tar.gz</a>                   10-Aug-2026 03:22        1.4G
<a href="checksums.sha256">checksums.sha256</a>                        14-Aug-2026 03:15        412
</pre><hr>
<address>nginx/1.24.0 (Ubuntu) Server at web-01.northbridge-health.org Port 443</address>
</body></html>
