{
  "_readme": [
    "This file locks the dependencies of your project to a known state"
  ],
  "content-hash": "3bf2f3a1001a24522c7ef9b96e08ed23",
  "packages": [
    {
      "name": "laravel/framework",
      "version": "v11.9.2",
      "source": {
        "type": "git",
        "url": "https://github.com/laravel/framework.git",
        "reference": "35ff76133440dd8df4a05476bd32a0edb61514c4"
      }
    },
    {
      "name": "predis/predis",
      "version": "v2.2.2",
      "source": {
        "type": "git",
        "url": "https://github.com/predis/predis.git",
        "reference": "fa0ef3d11163400f627db5358d2cbd6cda9bd5bf"
      }
    }
  ],
  "plugin-api-version": "2.6.0"
}
