{
  "activeProfiles": [
    "prod"
  ],
  "propertySources": [
    {
      "name": "systemEnvironment",
      "properties": {
        "DB_PASSWORD": {
          "value": "fake-db-password-e10e5634"
        },
        "JWT_SECRET": {
          "value": "fake-jwt-secret-81a46e7bf6be63c9a611228805628689"
        },
        "AWS_ACCESS_KEY_ID": {
          "value": "AKIA-FAKE-3D854"
        },
        "SPRING_DATASOURCE_URL": {
          "value": "jdbc:postgresql://pg-prod-01.db.meridian.internal:5432/meridian_portal"
        }
      }
    }
  ]
}
