{
  "activeProfiles": [
    "prod"
  ],
  "propertySources": [
    {
      "name": "systemEnvironment",
      "properties": {
        "DB_PASSWORD": {
          "value": "fake-db-password-b4201dbb"
        },
        "JWT_SECRET": {
          "value": "fake-jwt-secret-528b31ceba0a2089206b4bb0de42a702"
        },
        "AWS_ACCESS_KEY_ID": {
          "value": "AKIA-FAKE-D9052"
        },
        "SPRING_DATASOURCE_URL": {
          "value": "jdbc:postgresql://pg-prod-01.db.meridian.internal:5432/meridian_portal"
        }
      }
    }
  ]
}
