<?xml version="1.0" encoding="UTF-8"?>
<configuration version="4.2.1" generated="2026-08-14T09:12:07Z">
  <application name="Meridian Portal" environment="production"/>
  <datasource>
    <host>pg-prod-01.db.meridian.internal</host>
    <port>5432</port>
    <database>meridian_portal</database>
    <username>meridian_app</username>
    <password>fake-db-password-9d293b4b</password>
  </datasource>
  <mail host="smtp.mail.meridian.internal" port="587" user="no-reply@meridiansys.io"
        password="fake-smtp-password-b9ca1e8e"/>
</configuration>
