version: "3.9"

services:
  app:
    image: registry.kestrelfreight.nl/kestrel-tms/app:3.8
    restart: unless-stopped
    environment:
      APP_ENV: production
      DB_HOST: postgres
      DB_DATABASE: kestrel_tms
      DB_USERNAME: tmsuser
      DB_PASSWORD: fake-db-password-48ba3bec
      REDIS_HOST: redis
      JWT_SECRET: fake-jwt-secret-d586791db3068ae84f202803bbed774e
    depends_on: [postgres, redis]
    ports:
      - "127.0.0.1:8080:8080"

  postgres:
    image: postgres:16.3-alpine
    environment:
      POSTGRES_USER: tmsuser
      POSTGRES_PASSWORD: fake-db-password-dddc004a
      POSTGRES_DB: kestrel_tms
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    command: ["redis-server", "--requirepass", "fake-redis-password-d54cff"]

volumes:
  pgdata:
