<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favicon</title>
</head>
<body>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMi4xMZ6WZkAAAAd0SU1FB+YGCg8RKjJc3tYXAAAAB3RJTUUH5QgSCxIsJp7gwwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAANSURBVDjLbZNBDsMgEETRP/f2gVQKkUQ6iK2VhYgYgGkYkX+Q2R3Z9J9K6x4Jc+2/7M4wAAAABJRU5ErkJggg==" alt="favicon-32x32">
</body>
</html>