[2026-08-11 18:49:07] production.ERROR: SMTP connect() failed on smtp.mail.halcyon.internal:587 {"request_id":"f98583d639ad66be"}
[2026-08-12 06:41:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.halcyon.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"1fcd61ce153d9a7e"}
[2026-08-13 18:16:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.halcyon.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"ff904dcbee75fd3f"}
[2026-08-13 13:39:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=27 user_id=16 {"request_id":"ec7276447d928148"}
[2026-08-13 23:19:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=127 user_id=19 {"request_id":"d29a837690383d7a"}
[2026-08-13 08:00:07] production.WARNING: queue worker exceeded soft memory limit (128M), restarting {"request_id":"cd1a7a3c1f1471f8"}
[2026-08-14 00:11:07] production.INFO: scheduled task inventory:sync finished, 2568 rows {"request_id":"36faad02cbd566fe"}
[2026-08-13 22:25:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.halcyon.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"4b36f5887097e953"}
[2026-08-14 07:17:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=192 user_id=19 {"request_id":"16b880f834912352"}
[2026-08-13 01:00:07] production.ERROR: SMTP connect() failed on smtp.mail.halcyon.internal:587 {"request_id":"51c3738d95dafc18"}
[2026-08-13 09:19:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=47 user_id=5 {"request_id":"be2f9425020e110e"}
[2026-08-12 13:45:07] production.ERROR: SQLSTATE[08006] connection to server at "pg-prod-01.db.halcyon.internal" (10.24.3.11), port 5432 failed: timeout expired {"request_id":"9afb408fef17813c"}
[2026-08-11 14:58:07] production.INFO: scheduled task inventory:sync finished, 8888 rows {"request_id":"1b2a9bdb0ce59c91"}
[2026-08-12 17:01:07] production.INFO: request completed method=GET path=/api/v2/orders status=200 duration_ms=366 user_id=5 {"request_id":"0b32a12ec8675d55"}
[2026-08-11 18:56:07] production.WARNING: queue worker exceeded soft memory limit (128M), restarting {"request_id":"548e69b69d201faa"}
[2026-08-11 19:38:07] production.ERROR: SMTP connect() failed on smtp.mail.halcyon.internal:587 {"request_id":"594a103f0db87484"}
