<html><body>{
  "type": "service_account",
  "project_id": "my-example-project-12345",
  "private_key_id": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6",
  "private_key": "-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDLsUbKZc2Qv8X9\\nY6zZ8v5JcJkL0t2vZ+K0uL9X1JzVv5N2b3KkL8Y9Z0pQqRrSsTtUuVvWwXxYyZz\\n-----END PRIVATE KEY-----\\n",
  "client_email": "firebase-adminsdk-abcde@my-example-project-12345.iam.gserviceaccount.com",
  "client_id": "123456789012345678901",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-abcde%40my-example-project-12345.iam.gserviceaccount.com"
}</body></html>