<html><body>{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "my-fake-project",
    "storage_bucket": "my-fake-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef123456",
        "android_client_info": {
          "package_name": "com.example.myapp"
        }
      },
      "oauth_client": [
        {
          "client_id": "123456789012-abcdefg123456.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyDummyKeyForTestingPurposesOnly12345"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "123456789012-xyz123.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}</body></html>