-----BEGIN DSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-128-CBC,F743695AE028F0AE34A296ACFB479B46

7xRym5Dh+EE1dY0rcefAEy+j0SqGQWUVYFr/Sh7MltBiI4tiQuPSBcoZxfAe9r9o
DdQNwtzXurQJ7El7ce1o7Os2cC77nwiu9z4FaiQEHyNJYiqfHlOAUmsxnR1B0dhT
4yUEuxxPk/puxKf5i9kmWeLWYuZ9+S+rkBiWbrNIcpQk1sDZfKNLJzPJpkJQJ5eE
dCt6WpNGrLAzO4v0uVJoeNAxRoRb6avtvxE1NtCid3KffAO9mUiBhRV0BX+DUYMK
jnFVs6rfIUYpHE3/JL+FNypcay9MG1nqdflCeYxvRzwSy5dndwddNIMkOom6ChJU
4eK0j0VrRnJ1Mmc9vFz1wXzPoS4oaQdSQqsXl+HVlVxD7BOShP6MIPIYHF+Mbe+r
Ww5qhWf7jHu4+sPu7VmrqKLDA+mfzSJPjt2bh2h5E5Txh/m29yGMojyIaSQ5Ualh
/1Wh/Yz2mEtBZD1dOQbcUJIcZpIrYGHKnfpos8613aa2ummAe2BAWQQRXakN+3aW
rufBl8c9OLNx75h9W60tS4ouC+oUGLoQXfRtP1XiG/B7WHyi2HcqivIXQvdRah+H
+yueJq3PSFOLRnikO6EpgEQdh7NEl4i4+uT29JcyIknhG2BsNs7obzMu535CTW+D
IcsXCHPKcVsAzGwKGdXjXbs6fc1do5UAIXYNw5+XISG/y23dGpBJrBDlwBaFcwad
XbfswsJfwBvrtpjm+32FqlPtehDd9hGTIPY6XhBOlHiPR7+IptHmopXqKN1sP4xe
oWI9dSIdYz7NVLUlJs3zfIxWUflqpLfZoRGCRMhCdhTiGXboH3CZVIsPMVYohcq6
8Tl0tdvcUo6u8g+IGIR7w4x1Nu+PKwO9PV64nLjdoY6JQPkyZ2TQeReZiAROUqXT
DSWzctzFc1LyX+rw1fP97eeAQYJ+F+KiLW+5QcG6QWHhfdjhvj/DxY0TLJQ4Vhtq
ftu+qMUqLbc46kG5A+ar8zdsqQ6YSfeg/YovvmPakO8w6ghc1wfmqBE8+AzW8wxt
rmfly9PdqVlJhhzshHMRJmqrfDvEHfc0tFm9QL4t5PUvKjbQhAgHmbr/nCPtqOZH
d942jHm0GsV4LfLf9sw70amKbLqiu3C5xJUnU/aoVCFRItmoASX3kn6t9iUmqdRb
+SjY5pqSqjsuM6tWt8bJ8wq3tO9f7D0c8UNPPHzI7sLVPn0wwFxC9FL80De9c1+B
jNiA0ILmGOsf465PSatr52LYEnx4zYInaYalvU3BCWQR9PQ0Tr1C+EZ2zz9AlMzg
yQTT2ARArT6HTW1rKgiLH7fEANWwzLGItRVYMlhUPPhkjEC5kl9tJBeHf3TaNiUP
inQjQrm69VNnUvSNU7y4fz3YWePSXww4emKiCZMzW4/3Jqh6H0jKR8vDbFsMTyJS
BbOf8PKCgiF/Z55zlE8TYWk3DcA3nMX7SPe9u4l+b1vlzdS4fMhUG+3H2gMHqVuV
t2A8abl4mYt9tnY2nY48Ql+0AnNn6ZpS1JJmnKaitjK6xEZaZAYI7nvoG8JLHqlM
UUfhwB3E/77jFXNXaNTHWzfRF3pviqw92Ci1Iu1YFJmvUyBIw0SG+cAzK7aCZniC
-----END DSA PRIVATE KEY-----
