<?xml version="1.0"?>
<root xmlns="urn:schemas-upnp-org:device-1-0">
  <specVersion><major>1</major><minor>0</minor></specVersion>
  <device>
    <deviceType>urn:schemas-upnp-org:device:Basic:1</deviceType>
    <friendlyName>Warehouse Cam 04</friendlyName>
    <manufacturer>Northbridge Health</manufacturer>
    <modelName>MS-IPC2200</modelName>
    <modelNumber>2200-EU</modelNumber>
    <serialNumber>MS2258306E7E</serialNumber>
    <UDN>uuid:7fbbd7f8-a12b-4c76-26a5-db46355b980c</UDN>
    <presentationURL>/index.html</presentationURL>
  </device>
</root>
