<html>
<head>
<title>IPCamDesc.xml</title>
</head>
<body>
<pre>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;Network&gt;
  &lt;DeviceInfo&gt;
    &lt;FirmwareVersion&gt;2.3.1&lt;/FirmwareVersion&gt;
    &lt;SerialNumber&gt;CAM-2023-00987&lt;/SerialNumber&gt;
    &lt;HardwareId&gt;IPCam-X200&lt;/HardwareId&gt;
    &lt;Manufacturer&gt;SecureCam Inc.&lt;/Manufacturer&gt;
    &lt;Model&gt;SC-X200&lt;/Model&gt;
  &lt;/DeviceInfo&gt;
  &lt;Video&gt;
    &lt;Resolution&gt;1920x1080&lt;/Resolution&gt;
    &lt;FrameRate&gt;25&lt;/FrameRate&gt;
    &lt;Codec&gt;H.264&lt;/Codec&gt;
    &lt;Bitrate&gt;4096&lt;/Bitrate&gt;
  &lt;/Video&gt;
  &lt;Audio&gt;
    &lt;Enabled&gt;true&lt;/Enabled&gt;
    &lt;Codec&gt;G.711&lt;/Codec&gt;
    &lt;SampleRate&gt;8000&lt;/SampleRate&gt;
  &lt;/Audio&gt;
  &lt;NetworkSettings&gt;
    &lt;IPAddress&gt;192.168.1.45&lt;/IPAddress&gt;
    &lt;SubnetMask&gt;255.255.255.0&lt;/SubnetMask&gt;
    &lt;Gateway&gt;192.168.1.1&lt;/Gateway&gt;
    &lt;DNS&gt;8.8.8.8&lt;/DNS&gt;
    &lt;Port&gt;80&lt;/Port&gt;
    &lt;RTSPPort&gt;554&lt;/RTSPPort&gt;
  &lt;/NetworkSettings&gt;
&lt;/Network&gt;
</pre>
</body>
</html>