<html><body>{
  "type": "service_account",
  "project_id": "example-project-12345",
  "private_key_id": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7VJt0k9Zz2u3V\nYbG+JxK2lZ9XyYvRz8JfT6aZ5L+6Q2W+1vX0tGg5hKzL+uZ6V+Y4Z9GxVv9K2f\n8b6Jk3tZ2sV1R6L7Q8b9C0d3E2F1G4H5I6J7K8L9M0N1O2P3Q4R5S6T7U8V9W0\nX1Y2Z3A4B5C6D7E8F9G0H1I2J3K4L5M6N7O8P9Q0R1S2T3U4V5W6X7Y8Z9A0B\n-----END PRIVATE KEY-----\n",
  "client_email": "fake-service-account@example-project-12345.iam.gserviceaccount.com",
  "client_id": "123456789012345678901",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/fake-service-account%40example-project-12345.iam.gserviceaccount.com"
}</body></html>