<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc>https://www.example.com/sitemap-products.xml</loc>
      <lastmod>2024-05-10</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.example.com/sitemap-blog.xml</loc>
      <lastmod>2024-05-12</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.example.com/sitemap-users.xml</loc>
      <lastmod>2024-05-15</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.example.com/sitemap-archive.xml</loc>
      <lastmod>2024-05-08</lastmod>
   </sitemap>
</sitemapindex>