<?xml version="1.0" encoding="UTF-8"?>
<configuration version="3.8" generated="2026-08-14T09:12:07Z">
  <application name="Kestrel TMS" environment="production"/>
  <datasource>
    <host>pg-prod-01.db.kestrel.internal</host>
    <port>5432</port>
    <database>kestrel_tms</database>
    <username>tmsuser</username>
    <password>fake-db-password-ae3d291a</password>
  </datasource>
  <mail host="smtp.mail.kestrel.internal" port="587" user="no-reply@kestrelfreight.nl"
        password="fake-smtp-password-731298cd"/>
</configuration>
