{
  "version": 4,
  "terraform_version": "1.9.5",
  "serial": 676,
  "lineage": "a4283a39-339b-7386-22fb-76ea620425b8",
  "outputs": {
    "db_endpoint": {
      "value": "pg-prod-01.db.meridian.internal:5432",
      "type": "string"
    },
    "bucket": {
      "value": "meridian-portal-prod-assets",
      "type": "string"
    }
  },
  "resources": [
    {
      "mode": "managed",
      "type": "aws_db_instance",
      "name": "primary",
      "provider": "provider[\"registry.terraform.io/hashicorp/aws\"]",
      "instances": [
        {
          "attributes": {
            "identifier": "meridian-portal-prod",
            "engine": "postgres",
            "engine_version": "16.3",
            "instance_class": "db.m6g.large",
            "username": "meridian_app",
            "password": "fake-db-password-e326a362"
          }
        }
      ]
    }
  ]
}
