Aug 13 12:03:07 web-01 sudo: m.thorne : TTY=pts/0 ; PWD=/var/www/portal ; USER=root ; COMMAND=/usr/bin/systemctl restart meridian-portal
Aug 13 07:44:07 web-01 systemd-logind[812]: New session 444 of user a.novak.
Aug 12 13:06:07 web-01 sudo: m.thorne : TTY=pts/0 ; PWD=/var/www/portal ; USER=root ; COMMAND=/usr/bin/systemctl restart meridian-portal
Aug 12 21:04:07 web-01 systemd-logind[812]: New session 874 of user r.bianchi.
Aug 13 15:08:07 web-01 sshd[1407]: Accepted publickey for d.mercier from 10.24.4.118 port 48302 ssh2: RSA SHA256:f8UaFg9GgngyCcofyy59NFs/x3e0Qq9km67Wlb4vAVi
Aug 13 15:05:07 web-01 systemd-logind[812]: New session 227 of user r.bianchi.
Aug 12 21:07:07 web-01 sshd[1878]: Failed password for invalid user admin from 10.24.5.223 port 40661 ssh2
Aug 14 00:27:07 web-01 sudo: r.bianchi : TTY=pts/0 ; PWD=/var/www/portal ; USER=root ; COMMAND=/usr/bin/systemctl restart meridian-portal
Aug 12 17:38:07 web-01 sshd[4617]: Failed password for invalid user admin from 10.24.5.217 port 40363 ssh2
Aug 14 05:25:07 web-01 sudo: d.mercier : TTY=pts/0 ; PWD=/var/www/portal ; USER=root ; COMMAND=/usr/bin/systemctl restart meridian-portal
Aug 14 03:46:07 web-01 systemd-logind[812]: New session 990 of user j.halloran.
Aug 13 23:32:07 web-01 sshd[1113]: Accepted publickey for a.novak from 10.24.9.94 port 55277 ssh2: RSA SHA256:5OSooEJZN4pvZBJLsrvvXt/7Ex2QlHkLW8F4uis25nV
Aug 13 01:20:07 web-01 sshd[6275]: Accepted publickey for d.mercier from 10.24.6.145 port 42682 ssh2: RSA SHA256:iD8hSxF6AfOtEDKZvVUzPIeInHVTJ8yw+GLqOjP9uNb
Aug 13 18:14:07 web-01 sudo: m.thorne : TTY=pts/0 ; PWD=/var/www/portal ; USER=root ; COMMAND=/usr/bin/systemctl restart meridian-portal
