<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalDb"
         connectionString="Server=sql-prod-01.db.nbh.internal;Database=Caretrack;User Id=portal_app;Password=fake-db-password-9f2c1ab4;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Production" />
    <add key="JwtSecret" value="fake-jwt-secret-4c1d8ba6e7f0" />
    <add key="SmtpHost" value="smtp.mail.nbh.internal" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
