<?php
/**
 * WordPress base configuration — Halcyon Retail Group corporate site.
 */

define( 'DB_NAME', 'halcyon_wp' );
define( 'DB_USER', 'halcyon_wp_user' );
define( 'DB_PASSWORD', 'fake-wp-password-dcbd40a01e' );
define( 'DB_HOST', 'mysql-web-01.db.halcyon.internal' );
define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         'jV5VyEPRVG0UiLEK3XoTV7VTwgcoDo2pXdcPYRu4ujdFuToi' );
define( 'SECURE_AUTH_KEY',  '3JGZy4GkmRUCMzU8Q3UPE20Dp550DYtyDQbm/RDUScH8xzj6' );
define( 'LOGGED_IN_KEY',    'JM4gYbBoCj1/ZJnpnyXvOp7TnTc6A2ExXnEkTs6VA/4Ppx11' );
define( 'NONCE_KEY',        'O5418GVFgCl/ADI7oe8bEYdUN3TpRcFthEo21ZSI+LmVK989' );
define( 'AUTH_SALT',        'wcjpokZWUtGBB21CYfiXORun97Mn13Nt9jWlDE8x/h3oB0CS' );
define( 'SECURE_AUTH_SALT', '3H4up3g6C0gnPEDoVIr+agpInhzueVHQ6qI/rI3GC9Q0ithX' );

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );
define( 'WP_MEMORY_LIMIT', '256M' );
define( 'DISALLOW_FILE_EDIT', true );
define( 'WP_HOME', 'https://www.halcyonretail.co.uk' );
define( 'WP_SITEURL', 'https://www.halcyonretail.co.uk' );

define( 'SMTP_HOST', 'smtp.mail.halcyon.internal' );
define( 'SMTP_USER', 'no-reply@halcyonretail.co.uk' );
define( 'SMTP_PASS', 'fake-smtp-password-666cb578' );

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
