<html><body>HTTP/1.1 200 OK
Date: Thu, 05 Apr 2024 12:34:56 GMT
Server: Apache/2.4.41 (Ubuntu)
Content-Type: application/json; charset=UTF-8
Cache-Control: no-cache, must-revalidate, max-age=0
X-Robots-Tag: noindex
Link: <https://example.com/wp-json/>; rel="https://api.w.org/"
Allow: GET
X-Content-Type-Options: nosniff
Strict-Transport-Security: max-age=63072000

[
  {
    "id": 1,
    "author": 1
  },
  {
    "id": 2,
    "author": 2
  },
  {
    "id": 3,
    "author": 1
  },
  {
    "id": 4,
    "author": 3
  },
  {
    "id": 5,
    "author": 2
  },
  {
    "id": 6,
    "author": 4
  },
  {
    "id": 7,
    "author": 1
  },
  {
    "id": 8,
    "author": 5
  },
  {
    "id": 9,
    "author": 3
  },
  {
    "id": 10,
    "author": 2
  }
]</body></html>