[
  {
    "id": 94154,
    "order_id": 11513,
    "status": "completed",
    "amount": "249.00",
    "currency": "EUR",
    "gateway": "stripe",
    "transaction_id": "ch_FAKE-1f5c563aef27f7506a",
    "date_created": "2026-08-11T16:55:36Z"
  },
  {
    "id": 99370,
    "order_id": 11307,
    "status": "completed",
    "amount": "1120.50",
    "currency": "EUR",
    "gateway": "stripe",
    "transaction_id": "ch_FAKE-30a93dfc221af35ca5",
    "date_created": "2026-08-11T17:22:28Z"
  },
  {
    "id": 95101,
    "order_id": 11255,
    "status": "refunded",
    "amount": "89.90",
    "currency": "EUR",
    "gateway": "stripe",
    "transaction_id": "ch_FAKE-3cbaf67c7b4512f9b1",
    "date_created": "2026-08-13T20:52:40Z"
  }
]
