<html><body>{
  "cart_hash": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6",
  "cart_items_count": 2,
  "cart_items": [
    {
      "key": "item_1",
      "product_id": 101,
      "variation_id": 0,
      "quantity": 1,
      "name": "Premium WooCommerce T-Shirt",
      "price": "29.99",
      "subtotal": "29.99",
      "subtotal_tax": "0.00",
      "data": {
        "sku": "TSHIRT-PREM-001",
        "stock_quantity": 45,
        "weight": "0.25"
      }
    },
    {
      "key": "item_2",
      "product_id": 102,
      "variation_id": 0,
      "quantity": 3,
      "name": "Wireless Bluetooth Earbuds",
      "price": "49.99",
      "subtotal": "149.97",
      "subtotal_tax": "0.00",
      "data": {
        "sku": "EARBUDS-BT-002",
        "stock_quantity": 120,
        "weight": "0.05"
      }
    }
  ],
  "cart_contents_weight": "0.40",
  "cart_contents_weight_unit": "kg",
  "cart_total": "179.96",
  "cart_total_tax": "0.00",
  "cart_subtotal": "179.96",
  "cart_subtotal_tax": "0.00",
  "customer": {
    "id": 0,
    "created_via": "guest",
    "email": "",
    "first_name": "",
    "last_name": "",
    "username": "",
    "is_paying_customer": false,
    "avatar_url": "",
    "billing": {},
    "shipping": {}
  },
  "needs_shipping_address": false,
  "needs_payment": true,
  "coupon_lines": [],
  "fee_lines": [],
  "shipping_lines": [],
  "tax_lines": [],
  "discounts": [],
  "applied_coupons": [],
  "used_coupons": [],
  "removed_coupons": [],
  "cart_hash": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6",
  "created_via": "rest-api",
  "cart_widget": true
}</body></html>